@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff29; 
  --foreground: #000; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c; 
    --foreground: #ededed; 
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s; 
}


html[data-theme="dark"] {
  --background: #1a202c;
  --foreground: #ededed;
}
html[data-theme="light"] {
  --background: #ffffff29;
  --foreground: #000;
}

.btn-primary {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-default shadow-button;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-primary:hover {
  @apply bg-primary/90;
  transform: scale(1.05);
}

h1 {
  @apply text-[45px];
}

h2 {
  @apply text-[1.875rem];
}

h3 {
  @apply text-[1.5rem];
}

h4 {
  @apply text-[1.25rem];
}

h5 {
  @apply text-[1.125rem];
}

h6 {
  @apply text-[1rem]
}

.input {
  @apply !text-black w-full p-2 border-[1px]
}
